<!-- loginModal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="padding: 1rem;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
			</div>
			<div class="modal-body">
				<div class="modal-img">
					<a href="shop.html"><img src="img/product/1.jpg" alt="" /></a>
				</div>
				<div class="modal-pro-content">
					<div class="">
					<form role="form" class="bs-example bs-example-form" action="index.html">
			            <div class="input-group">
			               <span class="input-group-addon">用户名</span>
			               <input type="text" class="form-control" placeholder="">
			            </div>
			            <p></p>
			            <div class="input-group">
			            	<span class="input-group-addon">密&nbsp;码</span>
			                <input type="password" class="form-control">
			            </div>
			            <p></p>
			            <div class="input-group">
			            	<span class=""><input type="checkbox" style="width: 2rem;"></span>
			                <label style="margin-top: 1rem;">
			                	<span>记住用户名</span>
			                	&nbsp;&nbsp;&nbsp;&nbsp;
			                	<a href="reset-password.html"><span>忘记密码?</span></a>
			                </label>
			            </div>
			            <p></p>
			            <button class="" type="submit">登 录</button>
			            <button data-dismiss="modal" aria-label="Close">取消</button>
			        </form>
			        </div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- loginModal end -->